<div class = "main-header">
  <div class="header-name">
    <a href="#">旅ナビ</a>
  </div>

  <div class = "prefecture">
    <a href = "#">エリアから探す</a>
  </div>

  <div class = "category">
    <a href = "#">カテゴリーから探す</a>
  </div>

  <div class="create-travel-navi">
    <a href="#">旅行ナビを作成する</a>
  </div>
</div>

<div class = "rigth-header">
  <div class = "login">
    <a href="#">ログイン</a>
  </div>

  <div class = "new-user">
    <a href="#">新規登録</a>
  </div>
</div>