<div class="wrapper">

  <div class = "header">
    <%= render "header" %>
  </div>

  <body>
  <div class = "main">
  </div>
  </body>


  <div class = "fotter">
    <%= render "fotter" %>
  </div>
</div>