<div class="wrapper">

  <div class = "header">
    <%= render "header" %>
  </div>

  <div class ="image">
    <%= image_tag "travels-navi.png", class:"list-pict" %>
  </div>

  <body>
    <div class = "main">
      <h2 calss = "title">
        ⚫️エリア
      </h2>

      <h2 calss = "title">
        ⚫️カテゴリー
      </h2>
    </div>
  </body>


  <div class = "fotter">
    <%= render "fotter" %>
  </div>
</div>