

/* ヘッダーCSS */

.header {
  background-color: #272727;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center
}

.main-header {
  width: 70%;
  display: flex;
}

.header-name a{
  font-size: 20px;
  padding: 30px;
  color: #FAFAFA;
  text-decoration: none;
}

.prefecture a{
  font-size: 15px;
  background-color: lightseagreen;
  border: 1px solid white;
  padding: 14px;
  color: #FAFAFA;
  text-decoration: none;
  margin-left: 50px;
}

.category a{
  font-size: 15px;
  background-color: lightseagreen;
  border: 1px solid white;
  padding: 14px;
  color: #FAFAFA;
  text-decoration: none;
  margin-left: 50px;
}

.create-travel-navi a {
  font-size: 15px;
  background-color: lightseagreen;
  border: 1px solid white;
  padding: 14px;
  margin-left: 50px;
  color: white;
  text-decoration: none;
}

.rigth-header {
  width: 30%;
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

.login a {
  font-size: 15px;
  background-color: lightseagreen;
  border: 1px solid white;
  padding: 14px;
  margin-left: 5px;
  color: white;
  text-decoration: none;
}

.logout a {
  font-size: 15px;
  background-color: lightseagreen;
  border: 1px solid white;
  padding: 14px;
  margin-left: 5px;
  color: white;
  text-decoration: none;
}

.new-user a {
  font-size: 15px;
  background-color: lightseagreen;
  border: 1px solid white;
  padding: 14px;
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.login_name {
  color: white;
  padding-right: 50px;
}

/* メインCSS */

.image{
  background-color: blue;
  height: 60vh;
  width: 100%;
}

.list-pict {
  height: 60vh;
  width: 100%;
}

.list-1 {
  height: 40vh;
  width: 30%;
  margin-bottom: 100px;
}

.main {
  height: calc(100vh - 20vh);
}

h2{
  margin-top: 40px;
  margin-bottom: 30px;
  
}

/* フッターCSS */

.fotter {
  background-color: gray;
  width: 100%;
  padding: 5vh 0;
  color: #FFF;
  background-color: #272727;
  text-align: center;
}

.footer-contents {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.furima-details {
  margin: 0 4vw;
}

.footer-content-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link {
  color: #FFF;
  font-size: 12px;
  line-height: 30px;
}

.logo-white {
  width: 20vh;
  vertical-align: bottom;
}

.footer>p {
  font-size: 14px;
}